
<div class="container-info">
    
    <form class="row g-3 needs-validation" novalidate autocomplete="off" [formGroup]="myForm" (ngSubmit)="save()">
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">First name</label>
        <input type="text" class="form-control" formControlName="name" >

          <span *ngIf="invalidFild('name')"
          class="form-text text-danger">Debe de ser de 3 letras</span>
        </div>

      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Last name</label>
        <input type="text" class="form-control" id="validationCustom02" formControlName="lastname">
        
        <span *ngIf="invalidFild('lastname')"
        class="form-text text-danger">Debe de ser de 3 letras</span>

      </div>
      <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">Username</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
          <input type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Phone Number</label>
          <input type="number" class="form-control" formControlName="phone" >
  
            <span *ngIf="invalidFild('phone')"
            class="form-text text-danger">Debe de ser de 7 letras</span>
          </div>

          <div class="col-md-2">
            <label for="validationCustom01" class="form-label">Age</label>
            <input type="number" class="form-control" formControlName="age" >
    
              <span *ngIf="invalidFild('age')"
              class="form-text text-danger">Debe de ser de 1 letras</span>
            </div>

      </div>
      

      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>
</div>