

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../../../assets/img/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Personal Information
      </a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="information">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="residential">Residential</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="resume">Resume</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>