<div class="container-info">
    
    <form class="row g-3 needs-validation" novalidate autocomplete="off" [formGroup]="myForm" (ngSubmit)="save()">

      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Country</label>
        <input type="text" class="form-control" formControlName="country">

        <span *ngIf="invalidFild('country')"
        class="form-text text-danger">Debe de ser de 2 letras</span>

      </div>
      <div class="col-md-3">
        <label for="validationCustom04" class="form-label">City</label>
        <input type="text" class="form-control" formControlName="city" >
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationCustom05" class="form-label">Zip</label>
        <input type="text" class="form-control" formControlName="zip">
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
            <label for="validationCustom03" class="form-label">Neighborhood</label>
            <input type="text" class="form-control" formControlName="neighborhood">
    
            <span *ngIf="invalidFild('neighborhood')"
            class="form-text text-danger">Debe de ser de 2 letras</span>
        </div>

        <div class="col-md-4">
            <label for="validationCustom03" class="form-label">Adress</label>
            <input type="text" class="form-control" formControlName="adress">
    
            <span *ngIf="invalidFild('adress')"
            class="form-text text-danger">Debe de ser de 5 letras</span>
        </div>

        <div class="col-md-4">
            <label for="validationCustom03" class="form-label">Department</label>
            <input type="text" class="form-control" formControlName="department">
    
            <span *ngIf="invalidFild('department')"
            class="form-text text-danger">Debe de ser de 3 letras</span>
        </div>
      </div>

      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>
</div>